.App {
  text-align: center;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.nav-link :active{
  text-decoration: underline;
}


body{
  background-color: rgb(128, 128, 128);
}

.table-bg{
  background-color: white;
  margin-top: 40px;
}

.home-body{
  background-color: rgb(255, 0, 0);
  margin-top: 40px;
}


.food{
  margin-top: 90px;
}

#logo_image {
  margin-top: 30px;
}

.passCheckbox{
  margin-left: 700px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pass-text {
  color: rgb(0, 0, 0);
}

#home-food :hover{
  cursor: pointer;
}

#home-food {
  display: inline;
  margin-right: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: red;
}

.App-link:hover{
  color: yellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
